body{
	background: white;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.subnav{
	box-sizing: border-box;
	padding-right: 10px;
	width: 30%;
	float: left;
	text-align: center;
}
.subnav a{
	text-decoration: none;
	display: inline-block;
	line-height: 40px;
	background-color: #E5E5E5;
	color: black;
	font-weight: 500;
	width: 100%;
}
.subnav .active{
	background-color: #FFFFFF;
	border-left: 5px solid #E60011;
	border-top: none;
}
.submenu{
	margin-top: 10px;
	width: 70%;
	float: right;
}
.submenu img{
	width: 100%;
	border-radius: 5px;
}
.submenu h4{
	margin-left: 10px;
	text-indent: 5px;
	border-left: 5px solid #E60011;
}
.submenu ul{
	width: 100%;
	box-sizing: border-box;
}
.submenu ul li{
	width: 49%;
	display: inline-block;
}
.submenu ul li img{
	width: 100%;
	border-radius: 5px;
}
